# Python
# Generic Python.gitignore template
# See https://github.com/github/gitignore/blob/main/Python.gitignore

# Byte-code files
*.pyc
__pycache__/
# Created by pydoc
*.pyo
# Created by coverage reporting
.coverage
.tox/
htmlcov/
.pytest_cache/

# Distributions and packaging
.DS_Store
dist/
build/
*.egg-info/

# Virtual environment
# Recommend placing the venv folder in the project root
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors and IDEs
# Vscode
.vscode/
# PyCharm
.idea/
# Spyder
.spyderproject
.spyproject

# OS-specific files
.pylint.d/

# You can add other specific files as needed, such as
# database files, specific data files, etc.
# instance/
# .python-version